@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin breakpoint($maxValue) {
    @media (max-width: $maxValue + "px"){
        @content;
    }
}

@mixin extraLargeScreen() {
    @media (min-width: 1920px){
        @content;
    }
}